<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>      <string>en</string>
    <key>CFBundleExecutable</key>             <string>Lumi</string>
    <key>CFBundleIdentifier</key>             <string>com.tianruijia.Lumi</string>
    <key>CFBundleInfoDictionaryVersion</key>  <string>6.0</string>
    <key>CFBundleName</key>                   <string>Lumi</string>
    <key>CFBundleIconFile</key>               <string>Lumi</string>
    <key>CFBundleDisplayName</key>            <string>Lumi</string>
    <key>CFBundlePackageType</key>            <string>APPL</string>
    <key>CFBundleShortVersionString</key>     <string>0.1.0</string>
    <key>CFBundleVersion</key>                <string>1</string>
    <key>LSMinimumSystemVersion</key>         <string>26.0</string>
    <key>NSHighResolutionCapable</key>        <true/>
    <key>LSUIElement</key>                    <true/>
    <key>NSAppleEventsUsageDescription</key>
    <string>Lumi 需要发送 Apple Event 以从其他 App 获取选中文本。</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Lumi 使用语音服务朗读译文。</string>
</dict>
</plist>
